node_modules
dist/
elements/
coverage
docs/
### IDE
.vscode
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Node
# Logs
logs
*.log
npm-debug.log*
package-lock.json